.instruct-text {
  font-size: 17px;
}

.container {
  width: 80%;
}

code {
  background: #F2F2F2;
  font-size: 25px;
  padding: 5px;
  border-radius: 10px;
  color: #4caf50;
}

#success-modal {
  width: 500px;
}

.success-modal h3 {
  color: #4caf50;
  text-align: center;
}

.success-modal p {
  text-align: center;
  font-size: 20px;
}

.next-btn {
  margin: 0 auto;
  display: block;
}
